:root {
  --brand-color:#282c34;
  --white:#fff;
}

body {
  box-sizing: border-box;
  font-size: calc(0.625em + 2vmin);
}

.row {
  width: 100%;
  height: auto;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2fr, minmax(200px, 1fr) );
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
